/* Shadow Effect */
.box-shadow {
  box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
}
/* Card */
.card {
  cursor: default;
  background: white;
  border-radius: 25px;
}
.card img {
  border-radius: 25px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.card iframe {
  border-radius: 25px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/*  Videos Style */
video {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.purple {
  border: 4px solid var(--purple);
}
.cyan {
  border: 4px solid var(--cyan);
}
.orange {
  border: 4px solid var(--orange);
}
.pink {
  border: 4px solid var(--pink);
}
.green {
  border: 4px solid var(--green);
}
/* BUTTONS */
.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1em;
  font-weight: bold;
  min-width: 150px;
  background-color: var(--dark-blue);
  text-align: center;
  color: var(--white);
  border: none;
  letter-spacing: 2px;
  border-radius: 50px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-decoration: none !important;
  transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s ease-in-out; /* FF 4 */
  -webkit-transition: all ease-in-out 0.1s ease-in-out; /* Safari & Chrome */
  -o-transition: all ease-in-out 0.1s ease-in-out; /* Opera */
}
.btn:hover {
  color: var(--white);
  background-color: var(--blue-hover);
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}

/* White Button Solid */
.btn.white {
  border-radius: 50px;
  background-color: var(--white);
  border: 2px solid var(--white) !important;
  color: var(--black);
}
.btn.white:hover {
  background-color: var(--light-gray);
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  /* Wiggle Animation */
  -ms-animation:wiggle 1s infinite;
  -moz-animation:wiggle 1s infinite;
  -webkit-animation:wiggle 1s infinite;
  animation:wiggle 1s infinite;
}
/* Blue Button Solid */
.btn.blue {
  border-radius: 50px;
  background-color: var(--purple);
  border: 2px solid var(--purple) !important;
  color: var(--white);
}
.btn.blue:hover {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

/* Cyan Button Solid */
.btn.cyan {
  border-radius: 50px;
  background-color: var(--cyan);
  border: 2px solid var(--cyan) !important;
  color: var(--white);
}
.btn.cyan:hover {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
}

/* Holo Button */
.btn.holo {
  border-radius: 50px;
  border: 2px solid var(--light-gray) !important;
  background-color: var(--white);
  color: var(--black);
}
.btn.holo:hover {
  background-color: var(--white);
  color: var(--black);
}
/* Holo Button Small */
.btn.holo.sm {
  padding: 5px 10px;
  font-weight: 300;
}
