/* Lava Lamp */
canvas#bubble {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* height: 300px; */
  /* Border */
  border-radius: 25px;
  /* box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; */
}
