/* Import Fonts */
@font-face {
  font-family: 'Roboto Mono';
  src: url("../fonts/RobotoMono-Regular.ttf") format('truetype');
}
@font-face {
  font-family: NotoColorEmojiLimited;
  src: url("../fonts/NotoColorEmoji.ttf") format('truetype');
}

/* Basic Font and Colors */
* {
  font-family: 'Roboto Mono', NotoColorEmojiLimited, monospace;
  font-size: 1em;
  color: #4D4D4D;
  line-height: 1.6;
}
:root {
  --black: #4D4D4D;
  --dark-gray: #222222;
  --gray: #333333;
  --light-gray: #EFEFEF;
  --white: #FBFBFB;
  --blue: #1C5CED;
  --neon-pink: #ff0066;
  --neon-green: #00ffcc;
  --neon-blue: #00cc99;
}

/* Body & Container */
body {
  background-color: var(--dark-gray);
  color: var(--white);
}

.container {
  max-width: 850px;
  padding: 20px;
  margin: 0 auto;  
}

/* Headers */
h1 {
  color: var(--neon-pink);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 3rem;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
h2 {
  font-size: 2rem;
  color: var(--neon-green);
  border-bottom: 2px solid var(--neon-green);
  padding-bottom: 5px;
  margin-bottom: 15px;
}

/* Paragraphs */
p {
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 15px 0;
  color: var(--white);
}

/* Links */
a {
  color: var(--neon-green);
  text-decoration: underline;
}
a:hover {
  color: var(--neon-pink);
}

/* Buttons */
.btn-container {
  text-align: right;
  padding: 15px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  font-size: 1.1rem;
  color: var(--white);
  background-color: var(--neon-blue);
  border: 3px solid var(--neon-green);
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 4px 4px 0px var(--neon-pink);
}

/* Button hover and focus states */
.btn:hover,
.btn:focus {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px var(--neon-pink);
}

/* Divider */
.divider {
  height: 2px;
  border: none;
  background-color: var(--neon-green);
  margin: 20px 0;
}

/* Footer */
.legal {
  font-size: 0.9rem;
  color: gray;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.legal span {
  color: gray;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
}
